<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{brand.name}}</ion-title>
    <ion-buttons end *ngIf="items">
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="findItem($event)"></ion-searchbar>
  <ion-list *ngIf="items">
    <ion-item *ngFor="let item of items | decade:filters.decade">
      <ion-thumbnail item-left>
        <img *ngIf="item.thumb" [src]="item.thumb">
      </ion-thumbnail>
      <h2>{{item.name}}</h2>
      <p>{{item.year}}</p>
      <button ion-button icon-only clear item-right (click)="firebase.addItem(item, category.slug)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <div *ngIf="items && items.length === 0" text-center>
    Sorry, there is no {{category.name | lowercase}} for {{brand.name}} ...
  </div>
</ion-content>
